<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
</head>
<body>
<header>
    <img src="../static/Logo.jpg" th:src="@{/Logo.jpg}">
    <nav>
        <ul>
            <li><a href="/" th:href="@{/}">Home</a></li>
            <li><a href="/list" th:href="@{/list}">Add</a></li>
            <li><a href="/view" th:href="@{/view}">View</a></li>
            <li><a href="/search" th:href="@{/search}">Search</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <div><a href="/list" th:href="@{/list}"><img src="../static/addcar.jpg" th:src="@{/addcar.jpg}"></a></div>
    <br>
    <div><a href="/view" th:href="@{/view}"><img src="../static/viewcar.jpg" th:src="@{/viewcar.jpg}"></a></div>
     <br>
    <div><a href="/search" th:href="@{/search}"><img src="../static/searchcar.jpg" th:src="@{/searchcar.jpg}"></a></div>
</div>
<br>
<br>
<div class="footer">
    <p>Created by - Dev-Daljeet (Daljeet Singh)</p>
    <p>Source for images: www.unsplash.com</p>
</div>
</body>
</html>